*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,body{
    height: 100%;
}

@font-face{
	src: url('/projeto-01/fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.center-header{
	width: 100%;
	padding: 5px 2%;
	font-size: 1.2rem;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border-bottom: 1.5px solid #d9d9d9;
	z-index: 1;
}

.logo-header img{
	margin: 2px;
	width: auto;
	height: auto;
	max-width: 120px;
	max-height: 120px;
}

.menu-header li{
	list-style: none;
	display: inline-block;
	padding-top: 15px;
}

.menu-header a{
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: normal;
	color: black;
}

.menu-header i{
	display: inline-block;
	vertical-align: middle;
	color: gray;
}

/*.slider{
    display: block;
	height: 768px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    position: relative;
}

.slider li{
    list-style: none;
    position: absolute;
}

.slider img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: center;
}

.slider input{
    display: none;
}

.slider label{
    background-color: #000;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label{
    left: 10px;
}

.slider li:nth-child(2) label{
    left: 40px;
}

.slider li:nth-child(3) label{
    left: 70px;
}

.slider img{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}*//***Como Criar um Slider com CSS***/

.carousel-inner img{
    width: 100%;
    height: 100%;
	max-height: 570px;
}

.center-section-01{
	margin-top: 70px;
	letter-spacing: 2px;
	text-align: center;
}

.seta-section-01 img{
	width: auto;
	height: auto;
	max-width: 67px;
	max-height: 67px;
}

.seta-section-01{
	border-top: 1.5px solid #ecf2f6;
	width: 100%;
	margin-top: 50px;
	padding-top: 15px;
}

.center-section-content{
	margin-top: 100px;
	width: 100%;
	padding: 10px 2%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	text-align: justify;
	font-size: 16px;
}

.center-section-content img{
	width: auto;
	height: auto;
	max-width: 370px;
	max-height: 370px;
}

.center-section-content a{
	text-decoration: none;
	color: black;
}

.center-section-content h2{
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: bold;
}

.produto-item-01,.produto-item-02,.produto-item-03{
	padding: 7px 2%;
}

.produto-item-04,.produto-item-05,.produto-item-06{
	padding: 7px 2%;
}

.center-footer-01{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	border-top: 1.5px solid #ecf2f6;
	margin-top: 4em;
	padding: 2em 0;
	font-size: 90%;
}

.logo-footer-01{
	display: block;
	align-self: flex-start;
	width: 70px;
	text-align: center;
	margin-bottom: 20px;
}

.logo-footer-01 img{
	width: auto;
	height: auto;
	max-width: 75px;
	max-height: 75px;
}

.menu-footer-01{
	display: flex;
	flex-direction: column;
	letter-spacing: 2px;
}

.menu-footer-01 li{
	list-style: none;
}

.menu-footer-01 a{
	color: black;
}

.social-footer-01 li{
	display: inline-block;
	width: 25px;
	height: 30px;
}

.adress-footer-02{
	display: flex;
	flex-direction: column;
	text-align: center;
	border-top: 1.5px solid #ecf2f6;
	margin-top: 1em;
	padding: 1em 0;
	font-size: 70%;
	letter-spacing: 2px;
}

@media screen and (max-width: 768px){
	.center-header{
	display: inline-block !important;
	text-align: center;
	width: 100%;
	}

	.center-section-content{
	display: inline-block;
	width: 100%;
	text-align: center;
	}
}
